In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
runDir = r"C:\Users\KohMansf\Desktop\MJ Projects\Population-growth-and-market\Population Data US"

if os.getcwd() != runDir:
    os.chdir(runDir)
files = os.listdir(runDir)
# First = 1900 to 1979
First = files[0:8]
Second = "2000 - 2010.xls"

d = {}  # dictionary that will hold them

for file_name in First:  # loop over files
    # read csv into a dataframe and add it to dict with file_name as it key
    d[file_name[0:4]] = pd.read_excel(file_name,
                                 names=['Age', 'Total Population'], dtype={'Age': str, 'Total Population': int},
                                 usecols="A:B", skiprows=8, skipfooter=15,sheet_name=None)
    
df_second = pd.read_excel(Second,names=['Age','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010'], 
                          usecols="A,C:L,N",skiprows=3,skipfooter=103)

In [3]:
df_second['Age'] = df_second['Age'].str.replace('.','')

In [4]:
df_second = df_second.set_index('Age')

In [5]:
df_second

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
Age,,,,,,,,,,,
BOTH SEXES,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309349689
Under 5 years,19178293,19298217,19429192,19592446,19785885,19917400,19938883,20125962,20271127,20244518,20200529
5 to 9 years,20463852,20173362,19872417,19620851,19454237,19389067,19544688,19714611,19929602,20182499,20382409
10 to 14 years,20637696,20978678,21261421,21415353,21411680,21212579,21033138,20841042,20706655,20660564,20694011
15 to 19 years,20294955,20456284,20610370,20797166,21102552,21486214,21807709,22067816,22210880,22192810,21959087
20 to 24 years,19116667,19757286,20243765,20591688,20845560,20959955,21036135,21077999,21180612,21384122,21667938
25 to 29 years,19280263,18819347,18691340,18771585,19107055,19534710,20110011,20542698,20902668,21078228,21153247
30 to 34 years,20524234,20652175,20658306,20472210,20159501,19723937,19285168,19170765,19304805,19645114,20093828
35 to 39 years,22650852,22235918,21751218,21264159,20874649,20798653,20941233,20963891,20817463,20507796,20082244
40 to 44 years,22517991,22815834,22889431,22890047,22925626,22706885,22302568,21832339,21375023,20980015,20899181
45 to 49 years,20219527,20698983,21252288,21722676,22065262,22417171,22715286,22799761,22820973,22862245,22647920
50 to 54 years,17779447,18687285,18739906,19097278,19564668,20078733,20570873,21140178,21639474,22004843,22365329
55 to 59 years,13565937,13968975,15143067,15814557,16607176,17503220,18396860,18454772,18814568,19280603,19779195
60 to 64 years,10863129,11136320,11560265,12194388,12698128,13138277,13533253,14673662,15342495,16124997,16987190
65 to 69 years,9523909,9562233,9638481,9830796,10073429,10278627,10553201,10970235,11594347,12092377,12515334
70 to 74 years,8860028,8821946,8750054,8670119,8594104,8603070,8649826,8728492,8911332,9140722,9326038
75 to 79 years,7438619,7455413,7470461,7497842,7461399,7463609,7447034,7400363,7345743,7295064,7313372
80 to 84 years,4984540,5138205,5294403,5398596,5528504,5611193,5648117,5687076,5730359,5727711,5750081
85 to 89 years,2806405,2846666,2886374,2952567,2998919,3102921,3229873,3358466,3449778,3561170,3641594
90 to 94 years,1118191,1132118,1149716,1175910,1207286,1242587,1275975,1307782,1355592,1397519,1463685
95 to 99 years,287595,285256,285775,291094,293507,301368,313089,325440,340954,357910,375778
100 years and over,50281,48454,46943,46605,46171,46423,46992,47857,49516,50702,51699

In [6]:
mydict = {}
for key in ['0', '1', '2', '3', '4']:
    mydict[key] = 'Under 5 years'
for key in ['5', '6', '7', '8', '9']:
    mydict[key] = '5 to 9 years'
for key in ['10', '11', '12', '13', '14']:
    mydict[key] = '10 to 14 years'
for key in ['15', '16', '17', '18', '19']:
    mydict[key] = '15 to 19 years'
for key in ['20', '21', '22', '23', '24']:
    mydict[key] = '20 to 24 years'
for key in ['25', '26', '27', '28', '29']:
    mydict[key] = '25 to 29 years'
for key in ['30', '31', '32', '33', '34']:
    mydict[key] = '30 to 34 years'
for key in ['30', '31', '32', '33', '34']:
    mydict[key] = '30 to 34 years'
for key in ['35', '36', '37', '38', '39']:
    mydict[key] = '35 to 39 years'
for key in ['40', '41', '42', '43', '44']:
    mydict[key] = '40 to 44 years'
for key in ['45', '46', '47', '48', '49']:
    mydict[key] = '45 to 49 years'
for key in ['50', '51', '52', '53', '54']:
    mydict[key] = '50 to 54 years'
for key in ['55', '56', '57', '58', '59']:
    mydict[key] = '55 to 59 years'
for key in ['60', '61', '62', '63', '64']:
    mydict[key] = '60 to 64 years'
for key in ['65', '66', '67', '68', '69']:
    mydict[key] = '65 to 69 years'
for key in ['70', '71', '72', '73', '74']:
    mydict[key] = '70 to 74 years'
for key in ['75', '76', '77', '78', '79']:
    mydict[key] = '75 to 79 years'
for key in ['80', '81', '82', '83', '84']:
    mydict[key] = '80 to 84 years'
for key in ['85+']:
    mydict[key] = '85 years and above'

In [7]:
df = {}
for keys in d:
    for k in d[keys]:
        df[k]= d[keys].get(k)
        df[k].Age = df[k].Age.map(mydict)
        df[k] = df[k].groupby('Age', as_index=False)['Total Population'].sum()

In [8]:
dfMO = {}
for i in range (1900,1980):
    a = np.array(df[str(i)].Age)
    b = np.array(df[str(i)]['Total Population'])
    totMpop = b[(a == '40 to 44 years') | (a == '45 to 49 years')].sum()
    totOpop = b[(a == '60 to 64 years') | (a == '65 to 69 years')].sum()
    MO = totMpop/totOpop
    dfMO[str(i)] = pd.DataFrame(np.array([[MO, str(i)]]),columns=['M/O Ratio', 'Year'])

In [13]:
df_second.loc[['40 to 44 years','45 to 49 years']]

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
Age,,,,,,,,,,,
40 to 44 years,22517991,22815834,22889431,22890047,22925626,22706885,22302568,21832339,21375023,20980015,20899181
45 to 49 years,20219527,20698983,21252288,21722676,22065262,22417171,22715286,22799761,22820973,22862245,22647920

In [ ]:
dfMOT = dfMO['1900']
for i in range(1901,1980):
    dfMOT = pd.concat([dfMOT, dfMO[str(i)]])

In [ ]:
dfMOT

In [ ]:
c = np.array(dfMOT['Year'])
c = c.astype(int)
d = np.array(dfMOT['M/O Ratio'])
d = d.astype(float)
plt.figure(figsize=(12,9))
plt.yticks(np.arange(min(d), max(d) + 0.1, 0.1))
plt.xticks(np.arange(min(c), max(c) + 1, 10))
plt.title("M/O Ratio from 1900 to 1979",color='w')
           
[i.set_color("red") for i in plt.gca().get_xticklabels()]
[i.set_color("red") for i in plt.gca().get_yticklabels()]
plt.plot(c,d,'r')
plt.savefig('MO.png')
plt.show()